{% extends 'base.html' %}
{% block con %}
{% load mathfilters %}


<h1><b>{{ t.subject }}</b></h1>

<div class="row mt-5">
    <div class="col-sm-9">
        <textarea class="form-control" style="height: 200px;" disabled>{{ t.content }}</textarea>
    </div>
    <div class="col-sm-3">
        <img src="{{ t.maker.getpic }}" width="100%">
        <div class="text-center mt-3">
            <h4>created by <b>{{user}}</b></h4>
        </div>
    </div>
</div>

<hr>

{% if user in t.voter.all %}
    
    <div class="row">
        {% for i in cset %}
            <div class="col-sm-4 mt-4 text-center">
                <b>{{i.name}}</b>
                <div class="progress mt-3">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ i.choicer.count|div:t.voter.count|mul:100|floatformat:2 }}%">{{ i.choicer.count|div:t.voter.count|mul:100|floatformat:2 }}%</div>
                </div>
                <div class="mt-3">
                    <textarea class="form-control" style="height: 100px;" disabled>{{ i.comment }}</textarea>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="mt-4 text-end">
        <a href="{% url 'votes:cancel' t.id %}"><button class="btn btn-danger btn-lg">무르기</button></a>
        <a href="{% url 'votes:index' %}" class="btn btn-dark btn-lg">뒤로가기</a>
    </div>
   
{% else %}
    <form method="post" action="{% url 'votes:votes' t.id %}">
        {% csrf_token %}
        <div class="row">
            {% for i in cset %}
                <div class="col-sm-4 mt-4 text-center">
                    <input type="radio" name="cho" {% if forloop.first %} checked {% endif %} value="{{ i.id }}"> <b>{{i.name}}</b>
                    <div class="mt-3">
                        <textarea class="form-control" style="height: 100px;" disabled>{{ i.comment }}</textarea>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="mt-4 text-end">
            <button class="btn btn-primary btn-lg">투표하기</button>
            <a href="{% url 'votes:index' %}" class="btn btn-dark btn-lg">뒤로가기</a>
        </div>
    </form>
{% endif %}



{% endblock %}