{% extends 'base.html' %}
{% block con %}
 
<h1><b>투표소</b></h1>

    <div class="text-end">
        <a class="btn btn-dark btn-lg" href="{% url 'votes:create' %}">토픽생성</a>
    </div>

    <div class="row mt-5">

        {% for i in tset %}
            <div class="col-sm-4">
                <div class="card">
                    <img src="{{ i.maker.getpic }}" width="100%" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{ i.subject }}</b></h5>
                        <p class="card-text">{{ i.content|truncatewords:10 }}</p>
                        {% if user in i.voter.all %}
                            <a href="{% url 'votes:detail' i.id %}" class="btn btn-secondary" style="width: 100%;">결과보기</a>
                        {% else %}
                            <a href="{% url 'votes:detail' i.id %}" class="btn btn-dark" style="width: 100%;">투표하기</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}