{% extends 'base.html' %}
    {% block con %} 
    {% load mathfilters %}
    <h1><b>게시판</b></h1>
    
<div class="text-end">
    <a href="{% url 'board:create' %}" class="btn btn-dark">게시글생성</a>
</div>
<br>
<table class="table table-bordered">
    <thead>
        <tr class="table-dark">
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
            <th scope="col">작성자</th>
            <th scope="col">좋아요</th>
        </tr>
    </thead>
    <tbody>
        {% for i in bset %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a class="sub" href="{% url 'board:detail' i.id %}">{{i.subject}}</a></td>
            <td>{{i.content|truncatewords:10 }}</td>
            <td>{{i.writer}}</td>
            <td>{{i.likey}}</td>
        </tr>
        {% empty %}
            <tr>
                <th colspan="5" class="text-center"> 
                {% if search %}
                    검색 결과가 없습니다.
                {% else %}
                    게시물이 존재하지 않습니다.
                {% endif %}
                </th>
            </tr>
        {% endfor %}
    </tbody>
</table>

<form>
    <div class="row mt-4 mb-4">
        <div class="col-sm-2">
            <select class="form-select" name="sel">
                <option value="sub" {% if sel == "sub" %} selected {% endif %}>제목</option>
                <option value="wri" {% if sel == "wri" %} selected {% endif %}>작성자</option>
                <option value="con" {% if sel == "con" %} selected {% endif %}>내용</option>
            </select>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="search" value="{{search}}">
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-dark" style="width:100%">검색</button>
        </div>
        <div class="col-sm-1">
            <a href="{% url 'board:index' %}"><button class="btn btn-dark" type="button">reset</button></a>
        </div>
    </div>
</form>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
            {% if bset.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'board:index' %}?page=1&sel={{sel}}&search={{search}}" >처음</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'board:index' %}?page={{ bset.previous_page_number}}&sel={{sel}}&search={{search}}">< 이전</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" >|<</a></li>
            <li class="page-item disabled"><a class="page-link" ><</a></li>
            {% endif %}
        
        

        {% for i in bset.paginator.page_range %}
            {% if bset.number|add:5 >= i and i >= bset.number|sub:5 %}
            <li class="page-item {% if bset.number == i %}active{% endif %}">
                <a class="page-link" href="{% url 'board:index' %}?page={{i}}&sel={{sel}}&search={{search}}">
                    {{i}}
                </a>
            </li>
            {% endif %}
        {% endfor %}

        {% if bset.has_next %}
        <li class="page-item"><a class="page-link" href="{% url 'board:index' %}?page={{ bset.next_page_number}}&sel={{sel}}&search={{search}}">다음 ></a></li>
        <li class="page-item">
            <a class="page-link" href="{% url 'board:index' %}?page={{ bset.paginator.num_pages}}&sel={{sel}}&search={{search}}">마지막</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">다음</a></li>
        <li class="page-item disabled"><a class="page-link" >마지막</a></li>
        {% endif %}
            
    </ul>
    </nav>

    

<style>
    .sub {
        text-decoration: none;
        color:black;
        font-weight: bold;
    }
    .sub:hover{
        color:rgb(255, 252, 252);
    }
    tr:hover{
        background-color:rgb(196, 192, 192);
    }
</style>

{% endblock %}